h1{
    font-family: Libre Baskerville, cursive;
    background-color: black;
    color:white;
    text-align: center;
    text-transform: uppercase;
}
div{
    width: 50%;
    margin-left: 25%;
}
html{
    background-color: black;
    color:white;
}
img{
    border: 5px solid white;
    width: 100%;
    margin-top: 50px;
}
p{
    text-align: center;
}








